@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@500&display=swap');

body {
    margin:0;
    font-family: 'Abel', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #4a5e79;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #2F3C4C;
}
a:hover {
    color: #CBD4C2;
}
main, footer {
    width: 60%;
    margin: 0 auto; 
    
}
header {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20%;
    background-color: #2F3C4C;
    cursor: pointer;
}
